@media only screen and (min-width: 23.5em){
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: right;
      }

      header, footer{
            max-width: none; 
            height: 75px;
            margin: auto;
            padding: 1rem;
            background-color: lightblue;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: black;
        }
        
        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }
        
        img {
            width: 250px;
            height: auto;
            float: right;
            padding: 5px;
        }
}