.mainpage {
    max-width: 960px;
  }

header, footer{
    background-color: blue;
    text-align: center;
    border-radius: 20px;
    height: 73px;
    padding-top: 10px;
}


h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

img {
    float: right;
    border-radius: 5px;
    width: 123px;
    margin-right: 33px;
    margin-top: -50px;
}
