@media only screen and (min-width: 60em) {
    main { 
            grid-template-columns: 1fr 1fr 1fr;
            align-items: Center;
        }
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin: 1.5rem;
            margin-top: 10em;
            text-align: center;
            padding: 1rem;
            grid-gap: 5px 5px;
            font-family: 'Roboto', sans-serif;  
        }

        #fitts, #visualhierarchy, #ruleofthirds {
            padding: .5rem;
            font-size: 1rem;
            text-align: center;
            background-color:blue;
            border-radius: 25px;
        }
        
        img {
            grid-area: auto;
            display: block;
            object-fit: cover;
            width: 100%;
        }
    }   
