@media only screen and (min-width: 60em) {
    main { 
            grid-template-columns: 1fr 1fr 1fr;
            align-items: Center;
        }
    }
    #tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 1em;
        text-align: center;
        padding: 1rem;
        grid-gap: 10px 10px;
        font-family: 'Roboto', sans-serif;  
    }

    #fitts, #visualhierarchy, #ruleofthirds {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color:lightblue;
        border-radius: 25px;
        grid-column: span 2;
    }
        
    img {
        grid-area: auto;
        display: block;
        object-fit: cover;
        width: 100%;
    }
    
    h1 {
        color: black;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    h2 {
        color: black;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    p {
        color: black;
        text-align: center;
        font-size: 1.2em;
    }
