@media only screen and (min-width: 20em){
    main {
        display: grid;
        grid-template-columns: 33px 1fr;
        align-items: right;
      }

        header, footer{
            font-family: 'Roboto', sans-serif;
            background-color: blue;
            text-align: center;
            color: white;
            height: 73px;
            padding-top: 5px;
        }

        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: 3;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: 3;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        #fitts {
            padding: .5rem;
            font-size: 1rem;
            text-align: center;
            background-color: lightblue;
            border-radius: 25px;
        }

        #visualhierarchy
            padding: .5rem;
            font-size: 1rem;
            text-align: center;
            background-color: white;
         border-radius: 25px;
         }
    
     
        #ruleofthirds {
            padding: .5rem;
            font-size: 1rem;
            text-align: center;
            background-color: lightblue;
            border-radius: 25px;
        }

        #tabs {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin: 1.5rem;
            margin-top: 0em;
            text-align: center;
            padding: 0.75rem;
            grid-gap: 10px 10px;
            font-family: 'Roboto', sans-serif;
        }
    }