@media only screen and (min-width: 25em){
    main {
            display: grid;
            grid-template-columns: 1fr;
            align-items: Center;
        }

        header, footer{
            max-width: none; 
            height: 73px;
            margin: auto;
            padding: 1rem;
            background-color: lightblue;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: black;
        }

        #tab {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin: .5rem;
            margin-top: 10em;
            text-align: center;
            padding: 1rem;
            grid-gap: 5px 5px;
            font-family: 'Roboto', sans-serif;        
        }

        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: .5rem;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: .5rem;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        #fitts, #visualhierarchy, #ruleofthirds {
            padding: .5rem;
            font-size: 1rem;
            text-align: center;
            background-color:lightblue;
            border-radius: 25px;
         }
         
}