@media only screen and (min-width: 23.5em){
    main {
            display: grid;
            grid-template-columns: 1fr;
            align-items: Center;
        }
        header, footer{
            font-family: 'Roboto', sans-serif;
            background-color: blue;
            text-align: center;
            color: white;
            height: 73px;
            padding-top: 5px;
        }
        #container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin: 3rem;
            margin-top: 10em;
            text-align: center;
            padding: 1rem;
            grid-gap: 5px 5px;
            font-family: 'Roboto', sans-serif;        
        }

        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: 3;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: 3;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        #fitts, #visualhierarchy, #ruleofthirds {
            padding: 3rem;
            font-size: 1rem;
            text-align: center;
            background-color:blue;
            border-radius: 25px;
         }
        p {
            word-wrap: break-word;
        }
     
}