@media only screen and (min-width: 37.5em) {
    .pic {
        width: 300px;
        height: auto;
    }
    
    ul {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        display: flex;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }
    .infobox {
        width: 85%;
    }
        
    .gallery {
        display: grid;
        margin: 1rem auto;
        grid-template-columns: 1fr 1fr;
    }

}
