@media only screen and (min-width: 60em) {
    main {
        max-width: 1400px;
        width: 80%;
        margin: auto;
        height: auto;
        border-radius: 10px;
    }

    footer {
        max-width: 1400px;
        width: 80%;
        margin: auto;
        height: auto;
        border-radius: 10px;

    }
}