/* Start Nav section CSS */
nav {
    margin: 0 auto;
    background-color: lightblue;
    padding: 5px;
}

.navigation {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.navigation li:first-child {
    display: block;
    padding: 5px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-align: left;
    }

.navigation a:hover {
    background-color: gray;
    color: white;
    font-weight: 700;
}

.responsive li {
    display: block;
}

.active {
    color: black;
}

.infobox {
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    border: 2px;
    width: 100%;
    font-style: italic;
    border: dashed;
    border-color: gray;   
    background-color: white;
    color: gray;
}
    /* end Nav section CSS */ 