.container {
    justify-content: left;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
    background-color: #7fb9c2;
}

table {
  display: grid;
  justify-content: center;
  border-collapse: collapse;
}
h2 {
  padding: 5px;
  margin: 0 10px 0;
  font-weight: bold;
  }

th {
  color: white;
  background-color: #628ca6;
}

td,th {
  border: 1px solid #80b9c2;
  padding: 5px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #e7ffed;
}

tr:nth-child(even) {
  background-color: #e7f0ed;
}

.standout {
  color: white;
  background-color: #628ca6;
}

caption {
  padding: 5px;
  font-size: 10px;
}