table {
  font-family: 'Ubuntu', sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px auto;
}

table thead {
  background-color: #7fb9c2;
  text-align: center;
  font-size: 17px;
}

tbody tr {
  background-color: #e7ffed;
}

tbody th {
  background-color: #628ca6;
  color: white;
}

.standout {
  color: white;
  background-color: #628ca6;
}

table tbody tr:nth-child(even) {
  background-color: #e7f0ed;
}


th {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px auto;
}

td {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px auto;
}

td {
  text-align: center;
  padding: 5px 10px;
}

th {
  text-align: center;
  padding: 5px 10px;
}

table tfoot {
  font-size: 11px;
}

tfoot {
  text-align: center;
  background-color: #7fb9c2;
}