@media only screen and (min-width: 60em) {

    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }
    .name {
        font-size: 38px;
    }
    
    
    .displaysection div {
        height: 125px;
    }
    
    
    .displaysection {
        display: block;
    }
    
    .motto {
        font-size: 14px;
    }
    
    .image {
        width: 90%;
    }
    
    
    .jsontown_display {
        display: grid;
        grid-template-columns: 35% 35% 35%;
    }
}