@media only screen and (min-width: 37.5em) {

    
    ul {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        display: flex;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }
    .infobox {
        width: 85%;
    }
        

    /* start artical section CSS */ 

    .artical {
        background-color: lightblue;
        padding: 1rem;
    }
    .artical-pic{
        float: right;
        width: 470px;
    }


    .hero-pic{
        width: 650px;
        height: auto;
    }
}
