@media only screen and (min-width: 60em) {
    /* ---------------------------- index start ------------------------------------------ */

    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }
    .name {
        font-size: 38px;
    }
    
    
    .displaysection div {
        height: 125px;
    }
    
    
    .displaysection {
        display: block;
    }
    
    .motto {
        font-size: 14px;
    }
    
    .image {
        width: 90%;
    }
    
    
    .jsontown_display {
        display: grid;
        grid-template-columns: 35% 35% 35%;
    }
    

    /* ---------------------------- index End ------------------------------------------ */

    /* ---------------------------- Gallery start ------------------------------------------ */
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
        }
        figure:hover {
            box-shadow: 0 0 20px lightgray;
        }∂


    /* ---------------------------- Gallery End ------------------------------------------ */

    /* ---------------------------- Preston start ------------------------------------------ */
    .artical {
        background-color: lightblue;
        padding: 1rem;
    }
    .artical-pic{
        float: right;
        width: 470px;
        height: auto;
    }

    .hero-pic{
        width: 770px;
        height: auto;
    }


   /* .fivedayforcast {
        display: relative;
    }*/
    
    .fivedayforcast{
        display: grid;
        padding: 10px;
    }
    
    .fivedayforcast table th {
        background: lightblue;
        border-top: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
        border-right: .5px solid black;
        padding: 10px;
    }

    .fivedayforcast table td {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-top: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
        border-right: .5px solid black;
        font-size: 15px; 
        padding: 10px;
    }

    .fivedayforcastpic{
        position: center;
        
    }


    /* ---------------------------- Preston End ------------------------------------------ */

    /* ---------------------------- StomCenter start ------------------------------------------ */
    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }


    /* ---------------------------- StomCenter End ------------------------------------------ */
}