@media only screen and (min-width: 60em) {

/* _____________________________ Index start _________________________________________________ */

    /* _____________________________ Index End __________________________________________________ */

/* _____________________________ Activities start _______________________________________________ */
    .activitiesmain { 
        /* Keep */
        grid-template-columns: 1fr 1fr 1fr;
        align-items: Center;
    }

    #tab {
        /* keep */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 1em;
        text-align: center;
        padding: 1rem;
        grid-gap: 10px 10px;
        font-family: 'Roboto', sans-serif; 
        grid-column: span 2; 
        grid-column: span 3; 
    }

    #fitts, #visualhierarchy, #ruleofthirds {
        /* keep */
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color:lightblue;
        border-radius: 25px;
    
    }
    
    img {
        /* keep */
        grid-area: auto;
        display: block;
        object-fit: cover;
        width: 100%;
    }
    
    p {
        /* keep */
        color: black;
        text-align: center;
        font-size: 1.2em;
    }

    /* _____________________________ Activities End_______________________________________________*/

    


    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }
    .name {
        font-size: 38px;
    }
    
    
    .displaysection div {
        height: 125px;
    }
    
    
    .displaysection {
        display: block;
    }
    
    .motto {
        font-size: 14px;
    }
    
    .image {
        width: 90%;
    }
    
    
    .jsontown_display {
        display: grid;
        grid-template-columns: 35% 35% 35%;
    }
    

    /* ---------------------------- index End ------------------------------------------ */

    /* ---------------------------- Gallery start ------------------------------------------ 
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
        }
        figure:hover {
            box-shadow: 0 0 20px lightgray;
        }∂


    /* ---------------------------- Gallery End ------------------------------------------ */

    /* ---------------------------- Preston start ------------------------------------------ 
    .artical {
        background-color: lightblue;
        padding: 1rem;
    }
    .artical-pic{
        float: right;
        width: 470px;
        height: auto;
    }

    .hero-pic{
        width: 770px;
        height: auto;
    }

    /* ---------------------------- Preston End ------------------------------------------ */

    /* ---------------------------- StomCenter start ------------------------------------------ 
    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }


    /* ---------------------------- StomCenter End ------------------------------------------ */
}