@media only screen and (min-width: 60em) {
/* ______________________________________________ Start ALL _____________________________________________________*/








/* ______________________________________________ End ALL _____________________________________________________*/
/* ______________________________________________ Start Index _____________________________________________________*/







/* ______________________________________________ End Index _____________________________________________________*/
/* ______________________________________________ Start Activities _____________________________________________________*/

    .activitiesmain { 
        grid-template-columns: 1fr 1fr 1fr;
        align-items: Center;
    }

    #tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 1em;
        text-align: center;
        padding: 1rem;
        grid-gap: 10px 10px;
        font-family: 'Roboto', sans-serif; 
        grid-column: span 2; 
        grid-column: span 3; 
    }

    #threedaytwonigh, #fourdaythreenigh, #weekendgetaway {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color:#EFE7BC;
        border-radius: 25px;
    }
 





/* ______________________________________________ End Activities _____________________________________________________*/
/* ______________________________________________ Start About Us _____________________________________________________*/








/* ______________________________________________ End About Us _____________________________________________________*/
/* ______________________________________________ Start People _____________________________________________________*/








/* ______________________________________________ End People _____________________________________________________*/
/* ______________________________________________ Start Reservation _____________________________________________________*/






/* ______________________________________________ End Reservation _____________________________________________________*/
/* ______________________________________________ Start Other _____________________________________________________*/









/* ______________________________________________ End Other _____________________________________________________*/

 
 
    /* ---------------------------- index start ------------------------------------------ */

    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }
    .name {
        font-size: 38px;
    }
    
    
    .displaysection div {
        height: 125px;
    }
    
    
    .displaysection {
        display: block;
    }
    
    .motto {
        font-size: 14px;
    }
    
    .image {
        width: 90%;
    }
    
    
    .jsontown_display {
        display: grid;
        grid-template-columns: 35% 35% 35%;
    }
    

    /* ---------------------------- index End ------------------------------------------ */

    /* ---------------------------- Gallery start ------------------------------------------ */
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
        }
        figure:hover {
            box-shadow: 0 0 20px lightgray;
        }∂


    /* ---------------------------- Gallery End ------------------------------------------ */

    /* ---------------------------- Preston start ------------------------------------------ */
    .artical {
        background-color: lightblue;
        padding: 1rem;
    }
    .artical-pic{
        float: right;
        width: 470px;
        height: auto;
    }

    .hero-pic{
        width: 770px;
        height: auto;
    }


   /* .fivedayforcast {
        display: relative;
    }*/
    
    .fivedayforcast{
        display: grid;
        padding: 10px;
    }
    
    .fivedayforcast table th {
        background: lightblue;
        border-top: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
        border-right: .5px solid black;
        padding: 10px;
    }

    .fivedayforcast table td {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-top: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
        border-right: .5px solid black;
        font-size: 15px; 
        padding: 10px;
    }

    .fivedayforcastpic{
        position: center;
        
    }


    /* ---------------------------- Preston End ------------------------------------------ */

    /* ---------------------------- StomCenter start ------------------------------------------ */
    .gallery {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure:hover {
        box-shadow: 0 0 20px lightgray;
    }


    /* ---------------------------- StomCenter End ------------------------------------------ */
}