@media only screen and (min-width: 37.5em) { 
/* ______________________________________________ Start ALL _____________________________________________________*/
    ul {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        display: flex;
        justify-content: center;
    }

    .navigation li:first-child {
        display: none;
    }


/* ______________________________________________ End ALL _____________________________________________________*/
/* ______________________________________________ Start Index _____________________________________________________*/




/* ______________________________________________ Start Index _____________________________________________________*/

/* Start artical pics */
    .artical-pic1{
        /* keep */
        float: right;
        width: 470px;
        height: auto;
    }

    .artical-pic2{
       /* keep */
       float: left;
        width: 470px;
        height: auto;
    }

    .artical-pic3{
        /* keep */
        float: right;
        width: 470px;
        height: auto;
    }
        /* End artical pics */

/* Start forcast section CSS */
    .forcast{
        /* keep */
        display: grid;
        padding: 10px;
    }

    .forcast table th {
        /* keep */
        background: #EFE7BC;
        padding: 10px;

        /* borders */
        border-top: .5px solid black;
        border-right: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
    }

    .forcast table td {
        /* keep */
        text-align: center;
        font-size: 15px; 
        padding: 10px;
        font-family: 'Roboto', sans-serif;

        /* borders */
        border-top: .5px solid black;
        border-right: .5px solid black;
        border-bottom: .5px solid black;
        border-left: .5px solid black;
    }

    .forcastpic{
        /* keep */
        position: center;
    }
        /* end forcast section CSS */
/* ______________________________________________ End Index _____________________________________________________*/
/* ______________________________________________ Start Activities _____________________________________________________*/





/* ______________________________________________ End Activities _____________________________________________________*/
/* ______________________________________________ Start About Us _____________________________________________________*/
    
.contact-data{
    color: white;
    width: 50%;
}
.contact-map{
    display: block;
    max-width: 550px;
    width: 50%;
    height: auto;
}
/* ______________________________________________ End About Us _____________________________________________________*/
/* ______________________________________________ Start People _____________________________________________________*/








/* ______________________________________________ End People _____________________________________________________*/
/* ______________________________________________ Start Reservation _____________________________________________________*/






/* ______________________________________________ End Reservation _____________________________________________________*/
/* ______________________________________________ Start Other _____________________________________________________*/









/* ______________________________________________ End Other _____________________________________________________*/
}