@media only screen and (min-width: 23.5em){
/* ______________________________________________ Start ALL _____________________________________________________*/

/* Start of Header & Footer */ 
    header, footer{
        max-width: none; 
        height: 100px;
        margin: auto;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        background-color: #EFE7BC;
        color: black;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .headerpic {
        max-width: 600px;
        min-width: 475px;
        width: 50%;
        height: auto;
        display: block;
        padding: 40px;
        float: right;
        align-items: center;
        justify-content: center;
    }
        /* End of Header & Footer */ 

/* Start of Text CSS */  
    h1 {
        font-size: 2.0em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
    h2 {
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
    h3 {
        font-size: 1.0em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
    }
        /* end of Text CSS */  

/* Start of Nav CSS */  
    nav {
        margin: 0 auto;
        background-color: #EFE7BC;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }
    
    .navigation {
        list-style: none;
        padding: 5px;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .navigation li:first-child {
        display: block;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }
    
    .navigation li {
        display: none;
    }
    
    .navigation a {
        display: block;
        color: black;
        padding: 0.75rem;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }
    
    .navigation a:hover {
        background-color: #74BDCB;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    
    .responsive li {
        display: block;
    }
    
    .active {
        background-color: gray;
        color: black;
    }
        /* end Nav section CSS */ 

/* ______________________________________________ End ALL _____________________________________________________*/
/* ______________________________________________ Start Index _____________________________________________________*/

/* start Main CSS */
    .indexmain { 
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 5px;
    }
        /* End Main CSS */

/* start artical section CSS */ 
    .artical1 {
        padding: 1rem;
        background-color: lightgray;
        font-family: 'Roboto', sans-serif;
    }

    .artical-pic1{
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle1{
        color: #FFA384;
        font-family: 'Roboto', sans-serif;
    }

    .artical2 {
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    .artical-pic2{
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle2{
        font-family: 'Roboto', sans-serif;
        color: #FFA384;
    }

    .artical3 {
        font-family: 'Roboto', sans-serif;
        padding: 1rem;
        background-color: lightgray;
    }

    .artical-pic3{
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle3{
        color: #FFA384;
    }
        /* end artical section CSS */

/* Start 5day section CSS */
    .forcast {
        display: none;
    }
        /* end 5day section CSS */

    .graname{
        color: #FFA384;
        font-family: 'Roboto', sans-serif;  
    }

/* ______________________________________________ End Index _____________________________________________________*/
/* ______________________________________________ Start Activities _____________________________________________________*/

    .activitiesmain {
        display: grid;
        grid-template-columns: 1fr;
        align-items: Center;
    }

    .activitiestitle{
        color: #FFA384;
        font-family: 'Roboto', sans-serif;    
    }
    
    #tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 10em;
        text-align: center;
        padding: 1rem;
        grid-gap: 10px 10px;
        font-family: 'Roboto', sans-serif;      
    }

    #threedaytwonigh, #fourdaythreenigh, #weekendgetaway {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color:#EFE7BC;
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
    }

    .threedaytwonighpic, .fourdaythreenighpic, .weekendgetawaypic{
        max-width: 250px;
    }
   
/* ______________________________________________ End Activities _____________________________________________________*/
/* ______________________________________________ Start About Us _____________________________________________________*/

    .aboutusmain {
        display: grid;
        grid-template-columns: 1fr;
        align-items: Center;
    }

    .rc {
	    color: white;
	    padding: 1em;
	    width: 48%;
	    flex: 1;
	    flex: 1 0 15em;
	    align-items: center;
	    margin: .5em;
    }

/* start contaxt info*/
    .contact-info{
        display: flex;
        background-color: gray;
        padding: 1rem;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .contact-map{
        display: none;
    }

    .contact-data{
        color: white;
    }

    *{
        box-sizing: border-box;
    }
        /* end contaxt info*/

/* ______________________________________________ End About Us _____________________________________________________*/
/* ______________________________________________ Start People _____________________________________________________*/
    
    .peoplemain {
        display: grid;
        grid-template-columns: 1fr;
        align-items: Center;
    }

    .towninfo {
        display: grid;
    }

    .displaysection {
        font-family: 'Roboto', sans-serif;
        background-color: #EFE7BC;
        border: 1px black solid;
        display: block;
        margin: 15px auto;
        width: 90%;
        height: auto;
        padding-bottom: 15px;
    }
    
    .name {
        color: black;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .mgs {
        display: block;
        max-width: 400px;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }
    
    .guides_display{
        max-width: 600px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }
    
    .age, .experience, .bio, .quote, .river{
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }


/* ______________________________________________ End People _____________________________________________________*/
/* ______________________________________________ Start Reservation _____________________________________________________*/

    .reservationsmain{
        display: grid;
        grid-template-columns: 1fr;
        align-items: Center;
        font-family: 'Roboto', sans-serif;
    }

/* start thank you CSS*/
    
    .thankyou{
        text-align: center;
        max-width: 500;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }
        /* end thank you CSS*/


/* start forms & fieldsets CSS*/
    form{
        max-width: 500px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }

    form fieldset {
        background-color: #EFE7BC;
        border: 1px solid black;
        margin: 10px;
        padding: 30px;
        font-family: 'Roboto', sans-serif;
    }    
        
    form legend {
        background-color: #EFE7BC;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 100px;
        font-family: 'Roboto', sans-serif;
    }
        
    form label {
        color: black;
        display: block;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }
        
    form span {
        color: black;
        display: block;
        font-size: 17px;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        }
        
    form label input {
        width: 100%;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
    }
    
    input[type="radio"]{
        width: auto;
        
    }
        
    form label input{
        background-color: white;
        border: 1px solid  black;
        padding: 10px;
        border-radius: 50px;
        font-family: 'Roboto', sans-serif;
    }

    form select {
        border: 1px solid black;
        color: black;
        width: 250px;
        height: 30px;
        font-size: 17px;
        border-radius: 0px;
        font-family: 'Roboto', sans-serif;
    }
        
    form textarea {
        background-color: white;
        border: 1px solid  #EFE7BC;
        padding: 0px;
        Width: 250px;
        height: 250px;
        text-align: left;
        font-size: 17px;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
    }
    
    form input.button {
        background-color: #EFE7BC;
        border: 1px solid black;
        color: black;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-size: 20px;
        border-radius: 50px;
        font-family: 'Roboto', sans-serif;
    }

    * {
        box-sizing: border-box;
    }
       
        /* end forms & fieldsets CSS*/

/* ______________________________________________ End Reservation _____________________________________________________*/
/* ______________________________________________ Start Other _____________________________________________________*/









/* ______________________________________________ End Other _____________________________________________________*/
}