@media only screen and (min-width: 23.5em){
/* ______________________________________________ Start ALL _____________________________________________________*/

/* Start of Header & Footer */ 
    header, footer{
        max-width: none; 
        height: 100px;
        margin: auto;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        background-color: #EFE7BC;
        color: black;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .headerpic {
        max-width: 600px;
        min-width: 400px;
        width: 50%;
        height: auto;
        display: block;
        padding: 40px;
        float: right;
        align-items: center;
        justify-content: center;
    }
        /* End of Header & Footer */ 

/* Start of Text CSS */  
    h1 {
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
    h2 {
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
    h3 {
        font-size: .5em;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 5px;
    }
        /* end of Text CSS */  

/* Start of Nav CSS */  
    nav {
        margin: 0 auto;
        background-color: #EFE7BC;
        padding: 5px;
    }
    
    .navigation {
        list-style: none;
        padding: 5px;
        margin: 0;
    }
    
    .navigation li:first-child {
        display: block;
        padding: 5px;
    }
    
    .navigation li {
        display: none;
    }
    
    .navigation a {
        display: block;
        color: black;
        padding: 0.75rem;
        text-align: left;
    }
    
    .navigation a:hover {
        background-color: #74BDCB;
        color: white;
    }
    
    .responsive li {
        display: block;
    }
    
    .active {
        background-color: gray;
        color: black;
    }
        /* end Nav section CSS */ 

/* ______________________________________________ End ALL _____________________________________________________*/


/* ______________________________________________ Start Index _____________________________________________________*/

/* start Main CSS */
    .indexmain { 
        /* keep */
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 5px;
    }
        /* End Main CSS */

/* start artical section CSS */ 
    .artical1 {
        /* keep */
        /*background-color:  ;*/
        padding: 1rem;
        background-color: lightgray;
    }

    .artical-pic1{
        /* keep */
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle1{
        /* keep */
        color: #FFA384;
    }

    .artical2 {
        /* keep */
        /*background-color:  ;*/
        padding: 1rem;
    }

    .artical-pic2{
        /* keep */
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle2{
        /* keep */
        color: #FFA384;
    }

    .artical3 {
        /* keep */
        /*background-color:  ;*/
        padding: 1rem;
        background-color: lightgray;
    }

    .artical-pic3{
        /* keep */
        float: center;
        max-width: 470px;
        width: auto;
        padding: 10px;
    }

    .atitle3{
        /* keep */
        color: #FFA384;
    }
        /* end artical section CSS */

/* Start 5day section CSS */
    .forcast {
        /* keep */
        display: none;
    }
        /* end 5day section CSS */

    .graname{
        color: #FFA384;
        font-family: 'Roboto', sans-serif;  
    }



/* ______________________________________________ End Index _____________________________________________________*/
/* ______________________________________________ Start Activities _____________________________________________________*/

    .activitiesmain {
        display: grid;
        grid-template-columns: 1fr;
        align-items: Center;
    }

    .activitiestitle{
        color: #FFA384;
        font-family: 'Roboto', sans-serif;    
    }
    
    #tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1.5rem;
        margin-top: 10em;
        text-align: center;
        padding: 1rem;
        grid-gap: 10px 10px;
        font-family: 'Roboto', sans-serif;      
    }

    #threedaytwonigh, #fourdaythreenigh, #weekendgetaway {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color:#EFE7BC;
        border-radius: 25px;
    }

    .threedaytwonighpic, .fourdaythreenighpic, .weekendgetawaypic{
        max-width: 250px;
    }
   




/* ______________________________________________ End Activities _____________________________________________________*/
/* ______________________________________________ Start About Us _____________________________________________________*/

    .rc {
	    color: white;
	    padding: 1em;
	    width: 48%;
	    flex: 1;
	    flex: 1 0 15em;
	    align-items: center;
	    margin: .5em;
    }

/* ______________________________________________ End About Us _____________________________________________________*/
/* ______________________________________________ Start People _____________________________________________________*/








/* ______________________________________________ End People _____________________________________________________*/
/* ______________________________________________ Start Reservation _____________________________________________________*/



/* start thank you CSS*/
    
    .thankyou{
        text-align: center;
        max-width: 500;
        margin: auto;
    }
        /* end thank you CSS*/


/* start forms & fieldsets CSS*/
    form{
        max-width: 500px;
        margin: auto;
    }

    form fieldset {
        background-color: #EFE7BC;
        border: 1px solid black;
        margin: 10px;
        padding: 30px;
    }    
        
    form legend {
        background-color: #EFE7BC;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 100px;
    }
        
    form label {
        color: black;
        display: block;
        padding: 5px;
    }
        
    form span {
        color: black;
        display: block;
        font-size: 17px;
        padding: 5px;
        }
        
    form label input {
        width: 100%;
        font-size: 17px;
    }
    
    input[type="radio"]{
        width: auto;
    }
        
    form label input{
        background-color: white;
        border: 1px solid  black;
        padding: 10px;
        border-radius: 50px;
    }

    form select {
        border: 1px solid black;
        color: black;
        width: 250px;
        height: 30px;
        font-size: 17px;
        border-radius: 0px;
    }
        
    form textarea {
        background-color: white;
        border: 1px solid  #EFE7BC;
        padding: 0px;
        Width: 250px;
        height: 250px;
        text-align: left;
        font-size: 17px;
        border-radius: 5px;
    }
    
    form input.button {
        background-color: #EFE7BC;
        border: 1px solid black;
        color: black;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-size: 20px;
        border-radius: 50px;
    }

    * {
        box-sizing: border-box;
    }
            
        /* end forms & fieldsets CSS*/

/* ______________________________________________ End Reservation _____________________________________________________*/
/* ______________________________________________ Start Other _____________________________________________________*/









/* ______________________________________________ End Other _____________________________________________________*/
}
    /* start pics*/
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 100%;
    }
    figure {
        font-size: 1.00em;
    }
    figure img {
        border: 1px solid #EFE7BC;;
        filter: blur(0em);
        transition: filter 0.5s;
    }
    figure img [data-src]  {
        filter: blur(0.5em);

    }
    figcaption {
        font-size: small;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
        /* end pics section CSS */ 


    .towninfo {
        display: grid;
    }

    .displaysection {
        width: 100%;
        height: auto;
        }
        
    .year, .pop, .a_rainfall {
        margin: 2px;
        font-size: 16px;
        text-align: center;
    }

    .jsontown_display{
        width: 100%;
        height: auto;
    }
















/* ---------------------------- Gallery start ------------------------------------------ */

    /* start Main CSS */
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 5px;
    }
    
        /* start pics*/
        .gallery{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            width: 100%;
    }
        figure {
            font-size: 1.00em;
    }
        figure img {
            border: 1px solid lightblue;
            filter: blur(0em);
            transition: filter 0.5s;
    }
        figure img [data-src]  {
            filter: blur(0.5em);

    }
        figcaption {
            font-size: small;
            font-family: 'Roboto', sans-serif;
            text-align: center;
    }
    /* ---------------------------- Gallery End ------------------------------------------ */



    /* ---------------------------- Preston start ------------------------------------------ */

    /* start Main CSS */
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 5px;
    }

    /* Start Hero section CSS */
    .hero-container{
        margin: 10px auto; 
        position: relative;
    }
    .hero-section {
        margin: 10px auto;
        width: 100%;
    }
    .hero-pic{
        width: 100%;
        height: auto;
    }
    .hero-overlay {
        position: absolute;
        border: 1px dotted;
        top: 2rem;
        left: 1rem;
        background: lightblue;
        border: 1px solid black;
        padding: .5rem;
    }
        /* End Hero section CSS */

    /* Start 5day section CSS */
    .fivedayforcast {
        display: none;
    }
        /* end 5day section CSS */

        
    /* start artical section CSS */ 
    .artical {
        background-color: #EFE7BC;
        padding: 1rem;
    }
    .artical-pic{
        width: 100%;
        max-width: 300px;
    }
        /* end artical section CSS */ 


    /* start contaxt info*/
    .contat-info{
        display: flex;
        background-color: gray;
        padding: 1rem;
        text-align: center;

    }
    .contact-map{
        display: none;
    }
    .contact-data{
        color: white;
    }

    #friday {
        position: relative;   
        left: 1px;
        text-align: left;
        font-size: 1.0rem;
        padding: 1rem;
    }
    *{
        box-sizing: border-box;
    }
        /* end contaxt info*/

/* ---------------------------- Preston End ------------------------------------------ */



/* ---------------------------- StomCenter start ------------------------------------------ */
        /* start Main CSS */
        main {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            padding: 5px;
        }
        /* start pics*/
        .gallery{
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            width: 100%;
        }
        figure {
            font-size: 1.00em;
        }
        figure img {
            border: 1px solid lightblue;
            filter: blur(0em);
            transition: filter 0.5s;
        }
        figure img [data-src]  {
            filter: blur(0.5em);
    
        }
        figcaption {
            font-size: small;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
            /* end pics section CSS */ 
    
        
    


/* ---------------------------- StomCenter End ------------------------------------------ */