/*@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark 
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views *************************
header,
footer {
	background-color: lightblue;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	max-width: none; 
    height: 75px;
    margin: auto;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 2rem;
}
h2 {
	color: #536878;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 3;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
.active {
	color: rgb(0, 4, 255);
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	/*border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}*/

@import url('https://fonts.googleapis.com/css?family=Bangers|Bevan|Raleway&display=swap');
body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 2em;
}

header {
    background-color: #264653;
    /*display: grid;
    grid-template-columns: 100px 1fr;*/
}

.icon {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: white;
}

body {
    background-color: #EFEFEF;
    padding-top: 0;
    padding-bottom: 0;
}

h1 {
    font-family: 'Bevan', sans-serif;
    font-size: 1.6em;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    background-color: #264653;
    color: white;
}

h2,
h3,
h4,
h5 {
    font-family: 'Bevan', sans-serif;
    color: #2A9D8F;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7rem;
}

a {
    color: #264653;
}

a:hover {
    color: #F4A261;
}

nav {
    background-color: #E9C46A;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #264653;
    text-align: center;
    padding: 0.95rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Raleway', sans-serif;
}

nav a:hover {
    background-color: #E76F51;
    color: #264653;
}

ul li,
ol li {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

footer {
    background-color: #264653;
    color: white;
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.site-header-sample {
    color: white;
    background-color: #264653;
    font-size: 40pt;
    font-family: 'Bevan', sans-serif;
}

.navigation-sample {
    color: #264653;
    background-color: #E9C46A;
    font-size: 16px;
}

.footer-sample {
    color: white;
    background-color: #264653;
    font-size: 20pt;
}

.heading-sample {
    color: #2A9D8F;
    font-size: 32pt;
    font-family: 'Bevan', sans-serif;
}

.paragraph-sample {
    font-size: 16pt;
}

.rgb {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}