@media only screen and (min-width: 23.5em){
    body,
    main,
    footer {
        display: grid;
        max-width: 960px;
        margin: 0 auto;
        font-size: 11pt;
        padding: 2em;
    }

    header {
        background-color: lightblue;
        text-align: center;
    }

    main {
        background-color: white;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.6em;
        padding: 1.5em;
        margin: 0;
        background-color: lightblue;
        color: black;
    }

    h2,
    h3,
    h4,
    h5 {
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    a {
        color: #264653;
    }

    a:hover {
        color: white;
    }

    nav {
        background-color: lightblue;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li a {
        display: block;
        color: #264653;
        text-align: center;
        padding: 0.95rem;
        text-decoration: none;
        font-size: 0.95rem;
        font-family: 'Roboto', sans-serif;
    }

    nav a:hover {
        background-color: #E76F51;
        color: #264653;
    }

    ul li,
    ol li {
        font-family: 'Roboto', sans-serif;
    }

    img {
        max-width: 100%;
    }

    footer {
        background-color: lightblue;
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    footer a {
        color: white;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }

    .site-header-sample {
        color: white;
        background-color: lightblue;
        font-size: 40pt;
        font-family: 'Roboto', sans-serif;
    }

    .navigation-sample {
        color: #264653;
        background-color: lightblue;
        font-size: 16px;
    }

    .footer-sample {
        color: white;
        background-color: lightblue;
        font-size: 20pt;
    }

    .heading-sample {
      color: #2A9D8F;
     font-size: 32pt;
        font-family: 'Roboto', sans-serif;
    }

    .paragraph-sample {
      font-size: 16pt;
    }

    .rgb {
        font-size: 16pt;
        font-family: 'Roboto', sans-serif;
    }
}



@media only screen and (min-width: 23.5em){
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
      }

      header, footer{
            max-width: none; 
            height: 75px;
            margin: auto;
            padding: 1rem;
            
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: black;
        }
        
        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }
        
        img {
            width: 250px;
            height: auto;
            float: right;
            padding: 5px;
        }
}