@media only screen and (min-width: 23.5em){
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
      }

      header, footer{
            max-width: none; 
            height: 75px;
            margin: auto;
            padding: 1rem;
            background-color: lightblue;
            font-family: 'Roboto', sans-serif;
            color: black;
        }
        header,
        nav,
        main,
        footer {
            max-width: 767px;
            margin: 0 auto;
        }
    
        
        h1 {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: left;
            vertical-align: middle;
        }

        h2 {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: left;
            vertical-align: middle;
        }

        p {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 5px;
            text-align: left;
            vertical-align: middle;
        }
        
        img {
            width: 250px;
            height: auto;
            float: right;
            padding: 5px;
        }
        nav {
            background-color: lightblue;
            text-align: center;
        }
    
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        nav li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 0.75rem;
            text-decoration: none;
            font-size: 0.95rem;
        }
    
        nav a:hover {
            background-color: lightblue;
            color: black;
        }
    
        .active {
            color: white;
        }
    
        main {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 0.8rem;
        }
    
        main article {
            margin: 0.5rem;
            border: 1px solid #bbb;
            padding: 0 1rem;
            background-color: #eee;
        }
    
        main picture {
            display: none;
            margin: 0.5rem;
        }
}