@charset "UTF-8";

/* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* phone or baseline views **************************/
footer {
    background-color: lightblue;
    color: black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header{
    background-color: lightblue;
    color: black;
    display: flex;
    align-items: center;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

#logo {
    width: auto;
    height: 40px;
    margin-right: 10px;
}

h1 {
    font-size: 2rem;
    align-items: center;
}

h2 {
    color: black;
}

nav {
    background-color: lightblue;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.25rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #bbb;
    color: white;
}

.active {
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main article {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: black;
}

main picture {
    display: none;
    margin: 0.5rem;
}

footer {
    flex: 0 1 100%;
    height: 2rem;
    text-align: center;
}